@import url('./font.css');
@import url('./plugins/datepicker.css');
@import url('./responsive.css');
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'yummosemibold';
    overflow-x: hidden;
}

body {
    background: #f5f7f8;
    min-height: 100%;
    color: #434343;
    transition: all .3s ease-in;
}

body.mobile {
    border-radius: 10px;
    background: rgb(247, 183, 14);
    background: linear-gradient(-58deg, #f7b70e 0%, #ffea00 100%);
    overflow: hidden;
}

:focus {
    outline: none;
}

a {
    font-family: 'yummosemibold';
    text-decoration: none;
    transition: all 0.3s ease;
    color: #434343;
    font-size: 1.5em;
}

input[type=file] {
    display: none !important;
}

body.mobile .wrapper {
    overflow: hidden;
}

.row {
    display: flex;
}

.col {
    width: 6.25%;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 1em;
}

.p-3 {
    padding: 3%;
}

.pt-1 {
    padding-top: 1em;
}

.pb-1 {
    padding-bottom: 1em;
}

.pl-1 {
    padding-left: 1em;
}

.pr-1 {
    padding-right: 1em;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 1em;
}

.m-2 {
    margin: 2%;
}

.m-3 {
    margin: 3%;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: 1em;
}

.ml-2 {
    margin-left: 2em;
}

.ml-3 {
    margin-left: 3em;
}

.ml-4 {
    margin-left: 1.5em;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-2 {
    margin-right: 2em;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.wrapper {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
}

nav {
    float: left;
    position: relative;
    width: 219px;
    background: url(../img/sidebar-bg.png);
    background-size: 219px 100%;
    background-position: 0 358px;
    background-repeat: space;
    transition: transform .3s ease-in;
}

body.mobile nav {
    position: relative !important;
    width: auto;
    background: none;
    transform: translateX(0);
}

nav .logo img {
    margin: 20px 0 0 60px;
}

nav .nav-top {
    width: 219px;
    height: 358px;
    background: url('../img/sidebar-top-bg.png') no-repeat;
}

nav .brand-logo-area {
    position: relative;
    margin: 80px 0 0 30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 61px 0px rgba(250, 185, 9, 0.77);
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .brand-logo-area:hover:after {
    content: '';
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 61px 0px rgba(250, 185, 9, 0.77);
    position: absolute;
    width: 120px;
    height: 120px;
    left: 0;
    right: 0;
    margin: auto;
}

nav .brand-logo-area .brand-logo-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

nav .brand-logo-area .brand-logo-container img {
    width: 100%;
}

nav .brand-logo-area div.change-brand-logo {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: url(../img/change-logo-icon.png);
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    display: none;
}

nav .brand-logo-area:hover div.change-brand-logo {
    display: block;
}

nav .menu {
    position: relative;
    width: 219px;
}

nav .menu ul {
    margin: 0 0 0 60px;
    padding: 0;
}

nav .menu ul li {
    list-style: none;
    line-height: 60px;
}

nav .menu .hover-slide {
    width: 100%;
    height: 125px;
    background: url('../img/menu-hover-effect.png') right center no-repeat;
    position: absolute;
    left: 45px;
    transition: top .5s ease;
}

nav .menu .hover-slide:after {
    position: absolute;
    content: '';
    width: 213px;
    height: 60px;
    background-color: #fff;
    border-radius: 30px;
    left: -10px;
    top: 32px;
}

nav .menu ul li:first-child {
    margin-top: 0;
}

nav .menu ul li a {
    position: relative;
    z-index: 200;
    display: block;
}

nav .menu ul li.language {
    margin-top: 50px;
    height: 20px;
    font-size: 1.2em;
}

nav .menu ul li.language a {
    font-family: 'yummolight';
    display: inline;
    font-size: 1.2em;
}

nav .menu ul li.language a.active {
    font-family: 'yummobold';
    color: #434343;
}

nav .menu ul li.log-out {
    margin-top: 20px;
}

nav .menu ul li.log-out a {
    font-size: 1.2em;
}

nav .menu ul li.language a:hover,
nav .menu ul li.log-out a:hover {
    color: #434343;
}

div.mobile {
    display: none;
    background: url('../img/mobile-menu-bg.png') no-repeat;
    background-position-y: -7px;
    border-top: 5px solid #fee302;
    height: 121px;
    width: 100%;
    position: relative;
}

div.mobile img.logo {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 130px
}

body.mobile div.mobile {
    background: none;
    border-top: 5px solid transparent;
    height: 90px;
}

div.mobile .close-icon {
    display: none;
    position: absolute;
    left: 30px;
    top: 25px;
}

body.mobile div.mobile .close-icon {
    display: inline-block;
}

div.mobile .menu-items {
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 25px;
}

body.mobile div.mobile .menu-items {
    display: none;
}

div.mobile .menu-items span {
    display: block;
    width: 60px;
    height: 5px;
    background: #434343;
    margin-bottom: 5px;
    border-radius: 2px;
}

div.mobile span:first-child {
    width: 50px;
}

div.mobile span:last-child {
    width: 40px;
}

body section.container {
    height: auto;
    min-height: 100%;
    padding: 5% 0 0 5%;
    width: 100%;
    box-sizing: border-box;
    transition: all .3s ease-in;
    overflow-x: hidden;
}

body section.container .container-area {
    height: auto;
}

body.mobile section.container {
    transform: scale(.7) translateY(60px) translateX(50%);
    background: white;
    border-radius: 20px;
    padding: 15px 0 0 0 !important;
    height: 600px;
    position: relative;
    display: block;
    overflow: unset;
}

body.mobile section.container:after {
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

body.mobile section.container div.container-area {
    overflow: hidden;
    height: 550px;
    position: absolute;
    left: 20px;
    right: 20px;
}

.text-right {
    text-align: right;
}

section.container .left-area {
    width: 50%;
    padding: 0 2%;
    position: relative;
}

section.container .left-area.active:after {
    position: absolute;
    top: 72.9%;
    right: -.6%;
    width: 56px;
    height: 194px;
    background: url(../img/right-bar-bg.png) no-repeat;
    background-size: 100% auto;
    content: '';
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index: 10;
}

section.container .left-area.active:before {
    content: '';
    position: absolute;
    right: 1.4%;
    width: 13%;
    top: 78.9%;
    height: 62.4px;
    background: white;
    z-index: 20;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

section.container .text-area h2 {
    font-size: 3.5em;
    margin: 0;
}

section.container .text-area span {
    font-size: 1em;
    width: 100%;
    display: block;
}

section.container .text-area span.textarea textarea.comment {
    border: none;
    width: 100%;
    height: 70px;
    font-size: 1em;
    padding: 10px;
    font-size: .7em;
}

section.container .text-area .text-buttons {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

section.container .text-area .text-buttons a {
    color: #8fa3aa;
}

section.container .text-area .text-buttons a.active,
section.container .text-area .text-buttons a:hover {
    color: #434343;
}

section.container .text-area .edit {
    float: left;
}

section.container .text-area .save {
    float: right;
}

section.container .left-area .calendar-area {
    clear: both;
    padding-top: 25px;
    display: flex;
}

section.container .left-area .calendar-area button {
    width: 25px;
    height: 42px;
    background: transparent;
    border: none;
}

section.container .left-area .calendar-area button.prev {
    background: url('../img/left-arrow-icon.png');
}

section.container .left-area .calendar-area button.next {
    background: url('../img/right-arrow-icon.png');
}

section.container .left-area .calendar {
    width: 60%;
    margin: 0 20%;
}

section.container .left-area .calendar input.datepicker {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 1em;
    text-align: center;
    background-image: url('../img/down-arrow-icon.png');
    background-repeat: no-repeat;
    background-position: 90%;
    -webkit-box-shadow: -1px -1px 20px 5px rgba(213, 213, 213, 0.45);
    -moz-box-shadow: -1px -1px 20px 5px rgba(213, 213, 213, 0.45);
    box-shadow: -1px -1px 20px 5px rgba(213, 213, 213, 0.45);
}

section.container .left-area .calendar input.datepicker:focus {
    background-color: #ffea00;
}

section.container .left-area .days ul {
    margin: 20px auto 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
}

section.container .left-area .days ul li {
    list-style: none;
    display: inline-block;
    margin-right: 8%;
}

section.container .left-area .days ul li:last-child {
    margin-right: 0;
}

section.container .left-area .days ul li a {
    font-size: 1.5em;
    color: #8fa3aa;
}

section.container .left-area .days ul li a.active {
    color: #434343;
    font-size: 2em;
}

section.container .left-area .days ul li a:hover {
    color: #434343;
    font-size: 2em;
}

section.container .left-area .main-data-list {
    height: 569px;
    width: 100%;
    margin-top: 30px;
    overflow-y: hidden;
}

section.container .left-area .main-data-list div.item {
    width: 96% !important;
    margin: 0 2%;
    border-radius: 16px;
    line-height: 59px;
    -webkit-box-shadow: -1px -1px 7px 3px rgba(213, 213, 213, 0.45);
    -moz-box-shadow: -1px -1px 7px 3px rgba(213, 213, 213, 0.45);
    box-shadow: -1px -1px 7px 3px rgba(213, 213, 213, 0.45);
    box-sizing: border-box;
    border: none;
    position: relative;
    background-color: white;
    cursor: pointer;
}

section.container .left-area .main-data-list div.item .item-content {
    display: flex;
}

section.container .left-area .main-data-list div.item .item-content span {
    transition: all .3s ease-in;
}

section.container .left-area .main-data-list div.item .item-content.active span {
    z-index: 3;
    color: inherit;
    filter: brightness(0) invert(0);
    -webkit-filter: brightness(0) invert(0);
    -moz-filter: brightness(0) invert(0);
}

section.container .left-area .main-data-list div.item span.title {
    width: 40%;
    font-size: 1.5em;
    padding-left: 5%;
}

section.container .left-area .main-data-list div.item span.number {
    font-size: 2em;
    color: #1daee4;
    width: 15%;
    text-align: right;
    margin-right: 7%;
}

section.container .left-area .main-data-list div.data-item span.title {
    width: 60%;
}

section.container .left-area .main-data-list div.data-item span.number {
    width: 40% !important;
}

section.container .left-area .main-data-list div.item span.chart {
    width: 30%;
    padding-right: 2%;
}

section.container .left-area .main-data-list div.item span.chart img {
    margin-top: 10px;
    height: 100%;
    max-height: 40px;
    float: right;
}

section.container .left-area .main-data-list div.item .item-content-detail {
    display: none;
    width: 100%;
    height: 340px;
    border-radius: 16px;
    background-image: -moz-linear-gradient( -58deg, rgb(255, 234, 0) 0%, rgb(247, 183, 14) 100%);
    background-image: -webkit-linear-gradient( -58deg, rgb(255, 234, 0) 0%, rgb(247, 183, 14) 100%);
    background-image: -ms-linear-gradient( -58deg, rgb(255, 234, 0) 0%, rgb(247, 183, 14) 100%);
    position: absolute;
    z-index: 1;
    top: -1px;
    overflow: hidden;
    padding-top: 60px;
}

section.container .left-area .main-data-list div.item .item-content-detail .slider-item-contents {
    display: none;
    width: 100%;
}

.data-item.active {
    -webkit-box-shadow: 0px 0px 29px -2px rgba(237, 136, 16, 0.74);
    -moz-box-shadow: 0px 0px 29px -2px rgba(237, 136, 16, 0.74);
    box-shadow: 0px 0px 29px -2px rgba(237, 136, 16, 0.74);
}

section.container .left-area .main-data-list div.item .item-content-detail .slider-item-contents .data-item {
    width: 92% !important;
    margin: 0 auto;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: white;
    display: inherit;
}

section.container .left-area .main-data-list div.item .item-content-detail .slider-item-contents .data-item span.number {
    width: 60%;
    float: right;
    text-align: right;
}

section.container .right-area {
    width: 50%;
    padding: 0 2%;
    margin-top: 10%;
}

section.container .right-area .right-area-container {
    width: 90%;
    float: right;
    background: #fff;
    border-top-left-radius: 40px;
    height: 100%;
    -webkit-box-shadow: -1px -1px 20px 5px rgba(213, 213, 213, 0.45);
    -moz-box-shadow: -1px -1px 20px 5px rgba(213, 213, 213, 0.45);
    box-shadow: -1px -1px 20px 5px rgba(213, 213, 213, 0.45);
    right: -130%;
    transition: all .4s ease-in-out;
    position: relative;
    height: auto;
    min-height: 100%;
}

section.container .right-area .right-area-container .section-connector {
    display: none;
    position: absolute;
    left: -64px;
    top: 563px;
    background: url('../img/section-connector.png') no-repeat;
    width: 90px;
    height: 270px;
}

section.container .right-area .right-area-container.active .section-connector {
    display: block;
}

section.container .right-area .right-area-container .section-connector:after {
    position: absolute;
    right: 0;
    top: 103px;
    content: '';
    width: 200px;
    height: 62.2px;
    background: #fff;
    z-index: 89;
}

section.container .right-area .right-area-container.active {
    right: -4.2%;
}

section.container .right-area .right-area-container img {
    position: absolute;
    right: 15px;
    top: -13px;
    cursor: pointer;
    width: 70px;
}

section.container .right-area .right-area-container .button-area {
    display: flex;
    margin: 40px 0 20px 10px;
    transition: all 1s ease-in-out;
    opacity: 0;
}

section.container .right-area .right-area-container .button-area.active {
    opacity: 1;
}

section.container .right-area .right-area-container .button-area button {
    width: 30%;
    height: 50px;
    border-radius: 16px;
    background-image: -moz-linear-gradient( -58deg, rgb(255, 234, 0) 0%, rgb(247, 200, 14) 100%);
    background-image: -webkit-linear-gradient( -58deg, rgb(255, 234, 0) 0%, rgb(247, 200, 14) 100%);
    background-image: -ms-linear-gradient( -58deg, rgb(255, 234, 0) 0%, rgb(247, 200, 14) 100%);
    border: none;
    margin-left: 10px;
    font-size: .8em;
}

section.container .right-area .right-area-container .accordion-contents {
    display: inherit;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    height: auto;
    overflow-y: scroll;
    left: 100%;
    transition: all .3s ease-in-out;
    padding: 30px 10px 10px 10px;
    position: absolute;
    right: 0;
    opacity: 0;
    box-sizing: border-box;
    font-family: 'yummoregular';
}

section.container .right-area .right-area-container .accordion-contents.active {
    transition-delay: .1s;
    left: 0;
    opacity: 1;
}

section.container .right-area .right-area-container .accordion-contents .item:first-child {
    margin-top: 0;
}

section.container .right-area .right-area-container .accordion-contents .item {
    padding: 20px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(213, 213, 213, 0.45);
    -moz-box-shadow: 0px 0px 5px 3px rgba(213, 213, 213, 0.45);
    box-shadow: 0px 0px 5px 3px rgba(213, 213, 213, 0.45);
    background: #fff;
    transition: top .2s ease-in-out;
    margin: -25px auto 0 auto;
}

section.container .right-area .right-area-container .accordion-contents .item.active {
    background: linear-gradient(-58deg, rgba(246, 200, 61) 0%, rgb(255, 234, 0) 100%);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(213, 213, 213, 0.45);
    -moz-box-shadow: 0px 0px 5px 3px rgba(213, 213, 213, 0.45);
    box-shadow: 0px 0px 5px 3px rgba(213, 213, 213, 0.45);
}

section.container .right-area .right-area-container .accordion-contents .item .content {
    display: none;
}

section.container .right-area .right-area-container .accordion-contents .item .header {
    cursor: pointer;
}

section.container .right-area .right-area-container .accordion-contents .item .header .row {
    display: flex;
}

section.container .right-area .right-area-container .accordion-contents .item .header .row .col {
    width: unset;
    margin: auto
}

section.container .right-area .right-area-container .accordion-contents .item .header .row .col:first-child {
    width: 30px;
    margin: unset;
}

section.container .right-area .right-area-container .accordion-contents .item .header .row .col:nth-child(2) {
    margin-left: 10px
}

section.container .right-area .right-area-container .accordion-contents .item .header .row .col .key {
    color: #cbcbcb;
}

section.container .right-area .right-area-container .accordion-contents .item.active .header .row .col .key {
    color: initial;
    opacity: .5;
}

section.container .right-area .right-area-container .accordion-contents .item .header .col.country,
section.container .right-area .right-area-container .accordion-contents .item .header .col.number,
section.container .right-area .right-area-container .accordion-contents .item .content {
    font-size: .8em;
}

section.container .right-area .right-area-container .accordion-contents .item .header .col.number {
    text-align: right;
    flex: auto;
}

section.container .right-area .right-area-container .accordion-contents .item .row .col.icon {
    height: 50px;
    margin-top: 20px !important;
}

section.container .right-area .right-area-container .accordion-contents .item .row .col.icon.women {
    background: url('../img/women-icon.png') no-repeat;
}

section.container .right-area .right-area-container .accordion-contents .item .row .col.icon.man {
    background: url('../img/man-icon.png') no-repeat;
}

section.container .right-area .right-area-container .accordion-contents .item .content .row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

section.container .right-area .right-area-container .accordion-contents .item .content .row.np {
    padding: 15px 0;
    margin-top: -40px;
}

section.container .right-area .right-area-container .accordion-contents .item .content .row.bt {
    border-top: 1px solid rgba(16, 15, 13, .2);
}

section.container .right-area .right-area-container .accordion-contents .item .content .row .col.space {
    width: 30px;
}

section.container .right-area .right-area-container .accordion-contents .item .content .row .col {
    width: 16.6%;
    padding-top: 10px;
}

section.container .right-area .right-area-container .accordion-contents .item .content .email {
    margin-left: 10px;
    margin-top: -15px;
}

section.container .right-area .right-area-container .accordion-contents .item .content .date {
    text-align: right;
    flex: auto;
    margin-top: -15px;
}

section.container .right-area .right-area-container .accordion-contents .item .content .row .col .key {
    opacity: .5;
}

section.container .right-area .right-graphs {
    position: relative;
    height: auto;
}

.tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.tabs li {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-right: 10px;
    background: white;
    width: 160px;
    cursor: pointer;
    height: 50px;
    z-index: 1;
}

.tab-contents {
    background: white;
    border-radius: 10px;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

.tab-content .graph {
    opacity: 0;
    transition: opacity 1s ease;
    position: relative;
}

.tab-content .graph .icons {
    position: absolute;
    top: 30px;
    z-index: 20;
}

.tab-content .graph .icons span {
    display: block;
    padding-left: 40px;
    height: 50px;
}

.tab-content .graph .icons span.female {
    background: url('../img/female-icon.png') no-repeat;
}

.tab-content .graph .icons span.male {
    background: url('../img/male-icon.png') no-repeat;
}

.tab-content .graph.area-chart {
    width: 100%;
    height: 400px !important;
}

.tab-content.active .graph {
    opacity: 1;
    overflow: scroll;
}

.general-graphs {
    padding: 5% 2% 0 2%;
    overflow-x: scroll
}

.general-graphs .tabs {
    align-items: center;
    justify-content: center;
    min-width: 900px;
}

.general-graphs .tab-contents {
    min-width: 900px;
    position: relative;
}

.general-graphs .tabs li {
    width: 13.7%;
}

.general-graphs .tabs li span {
    font-size: .9em;
}

.tabs li span {
    font-size: 1.2em;
    width: 80%;
    margin: 10% auto;
    border-radius: 8px;
    text-align: center;
    display: block;
    transition: background .2s ease;
    height: 50px;
    line-height: 50px;
    background: #f5f7f8;
}

.tabs li.active span {
    background: #ffea00;
}

#chartjs-tooltip {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 60px;
    -webkit-box-shadow: -1px -1px 20px 5px rgba(250, 202, 9, 0.45);
    -moz-box-shadow: -1px -1px 20px 5px rgba(250, 202, 9, 0.45);
    box-shadow: -1px -1px 20px 5px rgba(250, 202, 9, 0.45);
    background: rgb(247, 183, 14);
    background: linear-gradient(-58deg, rgba(247, 183, 14, 1) 0%, rgba(255, 234, 0, 1) 100%);
}

section.container .card-graphs {
    padding: 5% 2% 2% 2%;
}

.graph-card {
    width: 100%;
    margin: auto 1%;
    background: white;
    border-radius: 10px;
}

section.container .card-graphs .graph-card .row {
    justify-content: center;
    align-items: center;
}

section.container .graph-card .content.br-1 {
    border-right: 1px solid #c3c9ce;
}

section.container .graph-card .line {
    position: relative;
    border-bottom: 5px solid #434343;
    height: 25px;
    margin-bottom: .5em;
}

section.container .graph-card .line.universe {
    height: 10px;
    margin-bottom: 0;
}

section.container .graph-card .line.customers {
    border-bottom-color: #ffe000;
    height: 10px;
    margin-bottom: 0;
}

section.container .graph-card .line.time {
    border-bottom-color: #9765d8;
}

section.container .graph-card .line.passersby {
    border-bottom-color: #337ab7;
}

section.container .graph-card .line.bounce-rate {
    border-bottom-color: #de192b;
}

section.container .graph-card .line.shoppers {
    border-bottom-color: #5bc0de;
}

section.container .graph-card .line.first-time-shoppers {
    border-bottom-color: #bf4bba;
}

section.container .graph-card .line.recurring-shoppers {
    border-bottom-color: #5cb85c;
}

section.container .graph-card .line span {
    position: absolute;
    width: 70px;
    background: url(../img/black-human-icon.png) #ffe000;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 5px;
    display: inherit;
    border-radius: 20px;
    padding: 3px 15px 5px 5px;
    text-align: right;
    border: 1px solid white;
    right: 1em;
    top: 11px;
}

section.container .graph-card .row span {
    display: block;
    font-size: .8em;
}

section.container .graph-card .row span.value {
    font-size: 1.2em;
}

section.container .graph-card .row div.content {
    width: 100%;
    padding-right: 1em;
}

section.container .graph-card .row div.icon {
    margin-top: 1em;
}

section.container .graph-card .row div.icon.flex {
    display: flex;
}

section.container .graph-card .row div.icon span {
    display: inline;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #5cb85c;
    opacity: .5;
    margin: 0 1px;
}

.change-zone {
    width: 100%;
    height: 50px;
    line-height: 48px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../img/selectbox-icon.png) #fff;
    background-repeat: no-repeat;
    background-position: 100% -10px;
    background-size: 63px 72px;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #434343;
    display: block;
    box-sizing: border-box;
}

section.container .graph-card .row div.icon span.active {
    opacity: 1;
}

.custom-select {
    position: relative;
    border: 0;
    width: 80%;
    height: 60px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../img/selectbox-icon.png) #fff;
    background-repeat: no-repeat;
    background-position: 100% -5px;
    background-size: 63px 72px;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 1.2em;
    margin: 4% auto 0 auto;
    color: #434343;
    display: block;
}


/* For IE10 */

.custom-select::-ms-expand {
    display: none;
}

.area-chart-img {
    margin-top: 0 !important;
}

.zoom-icons {
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 1;
}

.zoom-icons a {
    display: block;
}

.form-container {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 20px;
    margin-bottom: 20px;
}

.form-container input {
    width: 230px;
    height: 30px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
    margin-bottom: 20px;
    display: block;
}

.form-container .custom-select {
    margin: 0 0 20px 0;
    width: 270px;
    background-position-x: 208px;
    height: 50px;
    background-position-y: -11px;
}

.btn {
    width: 130px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    border: none;
    font-size: 1.1em;
    color: inherit;
}

.btn.delete {
    color: white;
    background: #fa3609;
    background: linear-gradient(-90deg, #ff0000 0%, #fa3609 100%);
}

.btn.save {
    margin-left: 7px;
    background: #fac709;
    background: linear-gradient(-90deg, #ffea00 0%, #fac709 100%);
    font-family: 'yummosemibold';
}

.tab-close {
    position: absolute;
    right: 20px;
    top: 30px;
    display: none;
    cursor: pointer;
    z-index: 1;
}

.tab-close img {
    width: 40px
}

section.container .picture-container {
    margin-top: 7%;
}

section.container .picture-container .add-new-picture {
    position: absolute;
    right: 30px;
    bottom: 30px;
    filter: drop-shadow(2px 4px 6px rgb(70, 70, 70));
    --webkit-filter: drop-shadow(2px 4px 6px rgb(70, 70, 70));
}

section.container .picture-container .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

section.container .picture-container .content {
    width: 250px;
    background: white;
    border-radius: 10px;
    padding: 2%;
    margin: 1%;
    box-sizing: border-box;
    position: relative;
    transition: all .3s ease-in-out;
}

section.container .picture-container .content .row {
    display: flex!important;
}

section.container .picture-container .content.active {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    background-color: rgb(241, 242, 242);
    box-shadow: 0px 26px 86px 0px rgba(237, 136, 16, 0.74);
    z-index: 10;
}

section.container .picture-container .content .bg-icon {
    width: 90%;
    cursor: pointer;
}

section.container .picture-container .content.active .bg-icon:active {
    filter: drop-shadow(2px 4px 6px black);
    --webkit-filter: drop-shadow(2px 4px 6px black);
}

section.container .picture-container .content .mobile-bg {
    float: right;
}

section.container .picture-container .content .close-btn {
    width: 30px;
    height: 30px;
    background: url(../img/close-btn2-icon.png) no-repeat;
    background-size: 100%;
    position: absolute;
    right: -15px;
    top: -15px;
    display: none;
}

section.container .picture-container .content.active .close-btn {
    display: block;
}

section.container .picture-container .content.active .close-btn:hover {
    transform: rotate(90deg);
}

section.container .picture-container .content .delete-btn {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    left: 20px;
    top: -35px;
    width: 110px;
    height: 35px;
    text-align: center;
    color: white;
    font-size: 1.2em;
    line-height: 32px;
    opacity: 0;
}

section.container .picture-container .content.active .delete-btn {
    opacity: 1;
}

section.container .picture-container .content .custom-select {
    height: 40px;
    background-size: 40px;
    width: 100%;
    border-radius: 10px;
    background-position: 100%;
    margin: 15px auto !important;
    display: none;
}

section.container .picture-container .content.active .custom-select {
    display: block;
}

section.container .picture-container .content .zone-text {
    font-size: 1.5em;
    margin: 15px 0;
}

section.container .picture-container .content.active .zone-text {
    display: none;
}

section.container .picture-container .content .datetime-area {
    width: 50%;
}

section.container .picture-container .content.active .date-time-text {
    display: none;
}

section.container .picture-container .content .datetime-area:nth-child(2) {
    text-align: right;
}

section.container .picture-container .content span.date-time-text {
    display: block
}

section.container .picture-container .content span.date-time-text.date {
    font-size: .97em;
}

section.container .picture-container .content span.date-time-text.time {
    font-size: 2em;
    margin-top: -10px;
}

section.container .picture-container .content input.start_date,
section.container .picture-container .content input.end_date {
    width: 95%;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: .5em;
    text-align: left;
    background: #fff;
    display: none;
    margin-bottom: 10px;
    padding-left: 8px;
    box-sizing: border-box;
    background-image: url(../img/down-arrow-icon.png);
    background-repeat: no-repeat;
    background-position: 93%;
    background-size: 8%;
}

section.container .picture-container .content.active input.start_date,
section.container .picture-container .content.active input.end_date {
    display: block;
}

section.container .picture-container .content.active input.end_date {
    float: right;
}

section.container .picture-container .content input.datepicker:focus {
    background-color: #ffea00;
}

section.container .picture-container .content .btn {
    height: 40px;
    line-height: 37px;
    border-radius: 20px;
    display: none
}

section.container .picture-container .content.active .btn {
    display: block;
}

section.container .picture-container .content .preview {
    background-image: -moz-linear-gradient( -45deg, rgb(65, 238, 238) 0%, rgb(0, 179, 243) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb(65, 238, 238) 0%, rgb(0, 179, 243) 100%);
    background-image: -ms-linear-gradient( -45deg, rgb(65, 238, 238) 0%, rgb(0, 179, 243) 100%);
    color: #fff;
}

.vertical {
    display: flex;
    margin-top: 30px;
}

.vertical .progress-bar {
    height: 150px;
    width: 5px;
    margin: 0 auto 40px auto;
}

.vertical .progress-bar .chart-label {
    position: absolute;
    bottom: -30px;
    width: 50px;
    left: -25px;
    right: 0;
    margin: 0 auto;
    color: #434343;
    font-size: .8em
}

.vertical .progress-track {
    position: relative;
    width: 5px;
    height: 100%;
    background: #f0f4f7;
}

.vertical .progress-fill {
    position: absolute;
    background: #445568;
    height: 0;
    bottom: 0;
    width: 5px;
    color: #fff;
    text-align: center;
    font-family: "Lato", "Verdana", sans-serif;
    font-size: 12px;
    line-height: 20px;
    transition: all 1s ease-in-out;
}

.rounded .progress-track,
.rounded .progress-fill {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 3px;
}

.rounded .values span {
    display: block;
    margin-bottom: 15px;
    margin-right: 20px;
    font-size: .8em;
}
