/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.main-data-list {
    height: 569px;
    width: 100%;
    margin-top: 30px;
    overflow-y: hidden;
}

.main-data-list div.item {
    width: 96% !important;
    margin: 0 2%;
    border-radius: 10px;
    line-height: 59px;
    -webkit-box-shadow: -1px -1px 7px 3px rgba(213, 213, 213, 0.45);
    -moz-box-shadow: -1px -1px 7px 3px rgba(213, 213, 213, 0.45);
    box-shadow: -1px -1px 7px 3px rgba(213, 213, 213, 0.45);
    box-sizing: border-box;
    border: none;
    position: relative;
    background-color: white;
    cursor: pointer;
}

.main-data-list div.item .item-content {
    display: flex;
}

.main-data-list div.item .item-content span {
    transition: all .3s ease-in;
}

.main-data-list div.item .item-content.active span {
    z-index: 3;
    color: inherit;
    filter: brightness(0) invert(0);
    -webkit-filter: brightness(0) invert(0);
    -moz-filter: brightness(0) invert(0);
}

.main-data-list div.item span.title {
    width: 40%;
    font-size: 1.5em;
    padding-left: 5%;
}

.main-data-list div.item span.number {
    font-size: 2em;
    color: #1daee4;
    width: 15%;
    text-align: right;
    margin-right: 5%;
}

.main-data-list div.item span.chart {
    width: 30%;
    padding-right: 2%;
}

.main-data-list div.item span.chart img {
    width: 150px;
    margin-top: 5px;
}

.main-data-list div.item .item-content-detail {
    display: none;
    width: 100%;
    height: 333px;
    border-radius: 10px;
    background: rgb(247, 183, 14);
    background: linear-gradient(-58deg, rgba(247, 183, 14, 1) 0%, rgba(255, 234, 0, 1) 100%);
    position: absolute;
    z-index: 1;
    top: 0;
    overflow: hidden;
    padding-top: 60px;
}

.main-data-list div.item .item-content-detail .slider-item-contents {
    display: none;
    width: 100%;
}

.main-data-list div.item .item-content-detail .slider-item-contents .slick-list,
.main-data-list div.item .item-content-detail .slider-item-contents .slick-track {
    height: auto !important;
}

.main-data-list div.item .item-content-detail .slider-item-contents .data-item {
    width: 92% !important;
    margin: 0 auto 0 -500px;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: white;
    display: inherit;
    transition: all .2s ease;
}

.main-data-list div.item .item-content-detail .slider-item-contents .data-item span.number {
    width: 60%;
    float: right;
    text-align: right;
}